.searchResult {
    display: grid;
    grid-template-columns: 10% 1fr;
    column-gap: 0.1rem;
    row-gap: 0.3rem;
}

.search-section{
    display:flex;
    margin-bottom:20px;
}

.search-field{
    display:flex;
    flex-direction:column;
    margin-right:10px;
}

.search-label{
    font-weight:bolder;
}

.border1 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
   
}
